@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --f-wieght-sm: 400;
    --f-wieght-md: 500;
    --f-wieght-lg: 600;
    --f-wieght-xl: 700;
    --f-wieght-xxl: 800;

    --color-lgblue: #01C8FF;
    --color-blue: #2C49FE;
    --text-color-b: black;
    --text-color-w: white;
    --text-color-EAE: #EAEDFF;
    --text-color-E5E: #E5E5E5;
    --text-colorF1F: #F1F2F5;
    --text-color-666: #666666;
    --bg-color-2D3: #2D3CAE87;

    --font-size-12: 12px;
    --font-size-13: 13px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-24: 24px;
    --font-size-26: 26px;
    --font-size-30: 30px;
    --font-size-36: 36px;
    --font-size-38: 38px;
    --font-size-42: 42px;
    --font-size-48: 48px;
}

.container {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-2 {
    width: 16.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.pt-17 {
    padding-top: 17px;
}

.mt-24 {
    margin-top: 24px;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.mb-15 {
    margin-bottom: 15px;
}

.img-h-100 {
    height: 100%;
}

.sec-1-img-1 {
    object-fit: cover;
    border-radius: 50px;
}

.Events {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-36);
    font-weight: var(--f-wieght-xl);
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-blue);
}

.Free {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-36);
    font-weight: var(--f-wieght-xl);
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-lgblue);
}

.logout {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: var(--f-wieght-lg);
    line-height: 24px;
    color: var(--text-color-w);
    letter-spacing: 0em;
    text-align: left;
    background: var(--color-blue);
    padding: 11px 28px 11px 28px;
    border: none;
    border-radius: 23px;
    cursor: pointer;
    border: 1px solid;
}

.logout:hover {
    background: var(--text-color-w);
    color: var(--color-blue);
}

.nav-fonts {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--f-wieght-sm);
    line-height: 24px;
    color: var(--text-color-b);
}

nav {
    box-shadow: 0px 8px 35px 0px #0000000D;
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 13px 0;
    background: var(--text-color-w);
}

.cursor-p {
    cursor: pointer;
}

.space-btw {
    justify-content: space-between;
}

.justi-cont-cent {
    justify-content: center;
}

.align-item {
    align-items: center;
}

.d-flex {
    display: flex;
}

.pt-140 {
    padding-top: 140px;
}

.text-center {
    text-align: center !important;
}

.gap-60 {
    gap: 60px;
}

.sec-1-heading {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-48);
    font-weight: var(--f-wieght-lg);
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 12px;
}

.sec-1-font-1 {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--f-wieght-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 60%;
    color: var(--text-color-b);
}

.sec-1-font-2 {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--f-wieght-xl);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.sec-1-font-3 {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-12);
    font-weight: var(--f-wieght-sm);
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-color-666);
}

.no-font {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-36);
    font-weight: var(--f-wieght-lg);
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    opacity: 60%;
    color: var(--text-color-b);
}

.gap-13 {
    gap: 13px;
}

.pt-b-16-28 {
    padding-top: 16px;
    padding-bottom: 28px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.box-1 {
    box-shadow: 0px 8px 35px 0px #0000001A;
    padding: 13px;
    border-radius: 20px;
    max-width: 322px;
}

.justi-cont-space-even {
    justify-content: space-evenly;
}

.mt-5 {
    margin-top: 5px;
}

.box-2 {
    background-color: var(--text-color-EAE);
    border-radius: 20px;
    padding: 30px 30px;
    width: 171px;
    height: 142px;
}

.underline-effect {
    position: relative;
}

.underline-effect::after {
    content: "";
    position: absolute;
    width: 203px;
    height: 8px;
    background-color: var(--color-blue);
    right: 42px;
}

.underline-effect::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 8px;
    background-color: var(--color-lgblue);
    right: 43px;
    z-index: 1;
}

.new-posts {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-48);
    font-weight: var(--f-wieght-lg);
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
}

.sec-2-font-1 {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-24);
    font-weight: var(--f-wieght-lg);
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.sec-2-font-2 {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--f-wieght-sm);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 60%;
    color: var(--text-color-b);
}

.posi-relative {
    position: relative;
}

.justi-content-space-btw {
    justify-content: space-between;
}

.border-sec-2 {
    border: 1px solid #9CA1BE;
    border-radius: 35px;
    padding: 7px;
}

.mt-45 {
    margin-top: 45px;
}

.card {
    padding: 35px 34px;
    box-shadow: 0px 8px 35px 0px #0000001A;
    border-radius: 30px;
}

.mt-b-8-20 {
    margin-top: 8px;
    margin-bottom: 20px;
}

.mt-b-13-26 {
    margin-top: 13px;
    margin-bottom: 26px;
}

.gap-8 {
    gap: 8px;
}

.gap-40 {
    gap: 40px;
}

.mt-12 {
    margin-top: 12%;
}

.gap-23 {
    gap: 23px;
}

.py-80 {
    padding: 80px 0;
}

.gap-10 {
    gap: 10px;
}


.posi-box {
    background: var(--text-color-w);
    border-radius: 20px;
    width: 35%;
    height: 44%;
    position: absolute;
    right: 4%;
    top: 52%;
}

.line {
    width: 100%;
    background-color: var(--text-color-E5E);
    height: 1px;
}

.input-1 {
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-20);
    font-weight: var(--f-wieght-sm);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 60%;
    color: var(--text-color-b);
    outline: none;
}

.post-cmnt {
    background-color: var(--color-blue);
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-20);
    font-weight: var(--f-wieght-lg);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-color-w);
    border-radius: 36px;
    width: max-content;
    border: 1px solid;
    padding: 11px 28px 11px 28px;
    max-width: 254px;
    cursor: pointer;
}

.post-cmnt:hover {
    background: var(--text-color-w);
    color: var(--color-blue);
}

.comment-font-1 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--f-wieght-md);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.comment-imgs {
    width: 56px;
    height: 56px;
}

.text-box {
    padding: 14px 20px 20px 20px;
    border-radius: 0px 20px 20px 20px;
    gap: 10px;
    background: var(--text-colorF1F);
}

.my-25 {
    margin: 25px 0;
}

.gap-20 {
    gap: 20px;
}

.gap-5 {
    gap: 5px;
}

.mt-b-34-8 {
    margin-top: 34px;
    margin-bottom: 8px;
}

.ml-95 {
    margin-left: 95px;
}

.delete {
    cursor: pointer;
    opacity: 60%;
}

.ml-62 {
    margin-left: 95px;
}

.justi-cont-flexend {
    justify-content: flex-end;
}

.footer-bg {
    background-color: var(--text-color-b);
}

.footer-font-1 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-14);
    font-weight: var(--f-wieght-sm);
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-color-w);
    max-width: 340px;
}

.footer-font-2 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-14);
    font-weight: var(--f-wieght-xl);
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-color-w);
}

.footer-font-3 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-12);
    font-weight: var(--f-wieght-sm);
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-color-w);
}

.pt-15 {
    padding-top: 15px;
}

.footer-box {
    background: var(--bg-color-2D3);
    color: var(--text-color-w);
    /* padding: 28px 0; */
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-18);
    font-weight: var(--f-wieght-xl);
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    height: 100%;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.my-36 {
    margin: 36px 0;
}

.credits {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-14);
    font-weight: var(--f-wieght-sm);
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-color-w);
    text-align: center;
}


.justi-cont-flexend {
    justify-content: flex-end;
}

.mt-30 {
    margin-top: 30px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.pb-24 {
    padding-bottom: 24px;
}

.pt-24 {
    padding-top: 24px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-25 {
    margin-top: 25px;
}

.row-pt-67 {
    padding-top: 67px;
}

.mt-15 {
    margin-top: 15px;
}

.pt-37 {
    padding-top: 37px;
}


.mt-50 {
    margin-top: 50px;
}

.w-95 {
    width: 95%;
}



@media (max-width:1200px) {
    .xl-col-12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .xl-col-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .xl-mt-20 {
        margin-top: 20px;
    }

    /* .img-h-100 {
        height: 93%;
    } */
}

@media (max-width:992px) {
    .lg-view {
        background-color: var(--text-color-w);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        transition: all 350ms linear;
    }

    label[for=menubar] {
        height: 35px;
        width: 40px;
        position: absolute;
        right: 4%;
        top: 28%;
        display: flex;
        justify-content: space-evenly;
        cursor: pointer;
        z-index: 2;
        flex-direction: column;
    }

    label[for=menubar] span {
        width: 100%;
        height: 5px;
        background-color: var(--text-color-b);

    }

    input[type="checkbox"]:checked~.lg-view {
        left: 0;
    }

    .lg-max-w-100 {
        max-width: 100%;
    }

    /* .img-h-100 {
        height: 93%;
    } */

    .lg-justi-cont-flexstart {
        justify-content: flex-start;
    }

    .col-12-lg {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .col-6-lg {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .lg-mt-30 {
        margin-top: 30px;
    }

    .lg-w-30 {
        max-width: 30%;
    }
}

@media (max-width:768px) {
    .col-12-md {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .md-mt-20 {
        margin-top: 30px;
    }

    .md-mt-30 {
        margin-top: 30px;
    }

    .lg-w-30 {
        max-width: unset
    }

    .col-6-md {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .md-direction-colmn {
        flex-direction: column;
    }

    .md-justify-center {
        justify-content: center;
    }

    .underline-effect::after {
        content: "";
        position: absolute;
        width: 168px;
        height: 8px;
        background-color: var(--color-blue);
        right: 43px;
    }

    .sec-2-font-1 {
        font-size: var(--font-size-20);
    }

    .new-posts {
        font-family: "Poppins", sans-serif;
        font-size: var(--font-size-42);
        font-weight: var(--f-wieght-lg);
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
    }

    .input-1 {
        font-size: var(--font-size-16);
    }

    .sec-1-heading {
        font-family: "Poppins", sans-serif;
        font-size: var(--font-size-38);
        font-weight: var(--f-wieght-lg);
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
        /* padding-top: 12px; */
    }

    .post-cmnt {
        font-size: var(--font-size-16);
    }

    .py-80 {
        padding: 60px 0;
    }
}

@media (max-width:576px) {
    .col-12-sm {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .sm-w-100 {
        width: 100%;
    }

    .pt-140 {
        padding-top: 110px;
    }

    .mt-12 {
        margin-top: 0;
    }

    .input-1 {
        font-size: var(--font-size-13);
    }

    .card {
        padding: 20px 8px;
        box-shadow: 0px 8px 35px 0px #0000001A;
        border-radius: 30px;
    }

    .post-cmnt {
        font-size: var(--font-size-13);
    }

    .mt-45 {
        margin-top: 20px;
    }

    .underline-effect::after {
        content: "";
        position: absolute;
        width: 125px;
        height: 8px;
        background-color: var(--color-blue);
        right: 65px;
    }

    .new-posts {
        font-family: "Poppins", sans-serif;
        font-size: var(--font-size-38);
        font-weight: var(--f-wieght-lg);
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
    }

    .sec-2-font-1 {
        font-size: var(--font-size-16);
    }

    .py-80 {
        padding: 40px 0;
    }

    .eventsfreeimg {
        width: 48px;
    }

    label[for=menubar] {
        height: 35px;
        width: 40px;
        position: absolute;
        right: 5%;
        top: 25%;
        display: flex;
        justify-content: space-evenly;
        cursor: pointer;
        z-index: 2;
        flex-direction: column;
    }

    .Events {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-26);
        font-weight: var(--f-wieght-xl);
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-blue);
    }

    .Free {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-26);
        font-weight: var(--f-wieght-xl);
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-lgblue);
    }

    .sec-1-heading {
        font-family: "Poppins", sans-serif;
        font-size: var(--font-size-30);
        font-weight: var(--f-wieght-lg);
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
        /* padding-top: 12px; */
    }

    .posi-box {
        background: var(--text-color-w);
        border-radius: 20px;
        width: 35%;
        height: 44%;
        position: absolute;
        right: 7px;
        top: 52%;
    }

    .sm-mb-30 {
        margin-bottom: 30px;
    }

    .pt-24 {
        padding-top: 0;
    }

    .pb-24 {
        padding-bottom: 0;
    }
}