@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-2 {
    width: 16.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.pt-17 {
    padding-top: 17px;
}

.mt-24 {
    margin-top: 24px;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.Events {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: #2C49FE;
}

.Free {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: #01C8FF;
}

.logout {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0em;
    text-align: left;
    background: #2C49FE;
    padding: 11px 28px 11px 28px;
    border: none;
    border-radius: 23px;
    cursor: pointer;
    border: 1px solid;
}

.logout:hover {
    background: white;
    color: #2C49FE;
}

.nav-fonts {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}

nav {
    box-shadow: 0px 8px 35px 0px #0000000D;
    position: fixed;
    width: 100%;
    z-index: 2;
    background: white;
}

.cursor-p {
    cursor: pointer;
}

.space-btw {
    justify-content: space-between;
}

.justi-cont-cent {
    justify-content: center;
}

.align-item {
    align-items: center;
}

.d-flex {
    display: flex;
}

.pt-80 {
    padding-top: 80px;
}

.text-center {
    text-align: center !important;
}

.gap-60 {
    gap: 60px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 12px;
}

.sec-1-font-1 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 60%;
    color: black;
}

.sec-1-font-2 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.sec-1-font-3 {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #666666;
}

.no-font {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    opacity: 60%;
    color: black;
}

.gap-13 {
    gap: 13px;
}

.pt-b-16-28 {
    padding-top: 16px;
    padding-bottom: 28px;
}

.box-1 {
    box-shadow: 0px 8px 35px 0px #0000001A;
    padding: 13px;
    border-radius: 20px;
}

.mt-5 {
    margin-top: 5px;
}

.box-2 {
    background-color: #EAEDFF;
    border-radius: 20px;
    padding: 30px 30px;
}

.underline-effect {
    position: relative;
}

.underline-effect::after {
    content: "";
    position: absolute;
    width: 203px;
    height: 8px;
    background-color: #2C49FE;
    right: 42px;
}

.underline-effect::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 8px;
    background-color: #01C8FF;
    right: 43px;
    z-index: 1;
}

.new-posts {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
}

.sec-2-font-1 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.sec-2-font-2 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 60%;
    color: black;
}

.posi-relative {
    position: relative;
}

.justi-content-space-btw {
    justify-content: space-between;
}

.border-sec-2 {
    border: 1px solid #9CA1BE;
    border-radius: 35px;
    padding: 7px;
}

button {
    padding: 11px 28px 11px 28px;
    max-width: 254px;
    cursor: pointer;
}

.mt-45 {
    margin-top: 45px;
}

.card {
    padding: 35px 34px;
    box-shadow: 0px 8px 35px 0px #0000001A;
    border-radius: 30px;
}

.mt-b-8-20 {
    margin-top: 8px;
    margin-bottom: 20px;
}

.mt-b-13-26 {
    margin-top: 13px;
    margin-bottom: 26px;
}

.gap-8 {
    gap: 8px;
}

.gap-40 {
    gap: 40px;
}

.mt-33 {
    margin-top: 33px;
}

.gap-23 {
    gap: 23px;
}

.py-80 {
    padding: 80px 0;
}

.gap-10 {
    gap: 10px;
}

.posi-box {
    background: #FFFFFF;
    border-radius: 20px;
    width: 35%;
    height: 44%;
    position: absolute;
    right: 7px;
    top: 52%;
}

.line {
    width: 100%;
    background-color: #E5E5E5;
    height: 1px;
}

.input-1 {
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 60%;
    color: black;
    outline: none;
}

.post-cmnt {
    background-color: #2C49FE;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    border-radius: 36px;
    width: max-content;
    border: 1px solid;
}

.post-cmnt:hover {
    background: white;
    color: #2C49FE;
}

.comment-font-1 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.comment-imgs {
    width: 56px;
    height: 56px;
}

.text-box {
    padding: 14px 20px 20px 20px;
    border-radius: 0px 20px 20px 20px;
    gap: 10px;
    background: #F1F2F5;
}

.my-25 {
    margin: 25px 0;
}

.gap-20 {
    gap: 20px;
}

.gap-5 {
    gap: 5px;
}

.mt-b-34-8 {
    margin-top: 34px;
    margin-bottom: 8px;
}

.ml-95 {
    margin-left: 95px;
}

.delete {
    cursor: pointer;
    opacity: 60%;
}

.ml-62 {
    margin-left: 95px;
}

.justi-cont-flexend {
    justify-content: flex-end;
}

.footer-bg {
    background-color: #000000;
}

.footer-font-1 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    max-width: 340px;
}

.footer-font-2 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.footer-font-3 {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.pt-15 {
    padding-top: 15px;
}

.footer-box {
    background: #2D3CAE87;
    color: white;
    /* padding: 28px 0; */
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    height: 100%;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.my-36 {
    margin: 36px 0;
}

.credits {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    text-align: center;
}


.justi-cont-flexend {
    justify-content: flex-end;
}

.mt-30 {
    margin-top: 30px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-150 {
    margin-top: 150px;
}

.mt-25 {
    margin-top: 25px;
}

.row-pt-67 {
    padding-top: 67px;
}

.mt-15 {
    margin-top: 15px;
}

.pt-37 {
    padding-top: 37px;
}


.mt-50 {
    margin-top: 50px;
}

@media (max-width:1200px) {
    .xl-col-12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .xl-mt-20 {
        margin-top: 20px;
    }
}

@media (max-width:992px) {
    .lg-view {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        transition: all 350ms linear;
    }

    label[for=menubar] {
        height: 35px;
        width: 40px;
        position: absolute;
        right: 4%;
        top: 22%;
        display: flex;
        justify-content: space-evenly;
        cursor: pointer;
        z-index: 2;
        flex-direction: column;
    }

    label[for=menubar] span {
        width: 100%;
        height: 5px;
        background-color: black;

    }

    input[type="checkbox"]:checked~.lg-view {
        left: 0;
    }

    .lg-max-w-100 {
        max-width: 100%;
    }

    .lg-justi-cont-flexstart {
        justify-content: flex-start;
    }

    .col-12-lg {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .col-6-lg {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .lg-mt-30 {
        margin-top: 30px;
    }

    .lg-w-30 {
        max-width: 30%;
    }
}

@media (max-width:768px) {
    .col-12-md {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .md-mt-20 {
        margin-top: 30px;
    }

    .md-mt-30 {
        margin-top: 30px;
    }

    .lg-w-30 {
        max-width: unset
    }

    .col-6-md {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .md-direction-colmn {
        flex-direction: column;
    }

    .md-justify-center {
        justify-content: center;
    }

    .underline-effect::after {
        content: "";
        position: absolute;
        width: 168px;
        height: 8px;
        background-color: #2C49FE;
        right: 43px;
    }

    .sec-2-font-1 {
        font-size: 20px;
    }

    .new-posts {
        font-family: "Poppins", sans-serif;
        font-size: 42px;
        font-weight: 600;
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
    }

    .input-1 {
        font-size: 16px;
    }

    h1 {
        font-family: "Poppins", sans-serif;
        font-size: 38px;
        font-weight: 600;
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
        /* padding-top: 12px; */
    }

    .post-cmnt {
        font-size: 16px;
    }

    .py-80 {
        padding: 60px 0;
    }
}

@media (max-width:576px) {
    .col-12-sm {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .mt-33 {
        margin-top: 0;
    }

    .input-1 {
        font-size: 13px;
    }

    .post-cmnt {
        font-size: 13px;
    }

    .mt-45 {
        margin-top: 20px;
    }

    .underline-effect::after {
        content: "";
        position: absolute;
        width: 125px;
        height: 8px;
        background-color: #2C49FE;
        right: 65px;
    }

    .new-posts {
        font-family: "Poppins", sans-serif;
        font-size: 38px;
        font-weight: 600;
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
    }

    .sec-2-font-1 {
        font-size: 16px;
    }

    .py-80 {
        padding: 40px 0;
    }

    .eventsfreeimg {
        width: 48px;
    }

    label[for=menubar] {
        height: 35px;
        width: 40px;
        position: absolute;
        right: 4%;
        top: 16%;
        display: flex;
        justify-content: space-evenly;
        cursor: pointer;
        z-index: 2;
        flex-direction: column;
    }

    .Events {
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        color: #2C49FE;
    }

    .Free {
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        color: #01C8FF;
    }

    h1 {
        font-family: "Poppins", sans-serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
        /* padding-top: 12px; */
    }
}